.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif f !important;
}

.sect1 {
  min-height: 650px;
  border: 1px solid black;
}


.exp-div {
  border: 1px solid black;
  margin-top: 180px;
  box-shadow: 2px 2px 6px 6px grey;
  height: 300px;
  border-radius: 30px;
  margin-right: 50px;
  margin-left: 50px;

}

.sect2 {
  margin-top: 50px;
  height: 1600px;
  /* border: 1px solid black; */
  background-color: rgb(202, 200, 200) !important;
}

.slide {
  position: relative;
  display: flex;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  height: 100%;


}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100;
  align-items: center;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.slide:hover .slide-content {
  transform: translate(0, 0);
}

.slide-top .slide-content {
  transform: translate(0, 100%);
}

.inpt1 {
  box-shadow: 2px 2px 6px 6px grey;
}

@media (max-width: 425px) {
  .new-ddiv {
    flex-wrap: wrap;
    /* text-align: center; */
    margin-left: 80px;
  }
  .images00{
    width: 600px;
    
  }
  .new-inner-ddiv1,
  .exp-div {
    width: 100%;
  }

  .exp-div {
    height: 660px;
    /* width: 800px; */

  }

  .m-screen {
    display: flex;
    flex-direction: column;


  }

  .first-d1 {
    text-align: center;
  }

  .first-d2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .new-inner-ddiv1{
    text-align: center;
  }

  .a-a {
    margin-left: 90px;
  }

  /* .div-000{
    display: flex;
    flex-direction: column;
  } */

  .sect2{
    height: 800px;
  }

}